language: java
jdk:
  - oraclejdk8
addons:
  firefox: "39.0"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script: "mvn verify"