<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Test Realm</realm-name>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>auth</web-resource-name>
            <url-pattern>/auth.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>TEST_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>