<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Test Realm</realm-name>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>auth</web-resource-name>
            <url-pattern>/auth.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>TEST_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>swip.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload.html</url-pattern>
    </servlet-mapping>

</web-app>